html,
body {
  position: relative;
  height: 100vh;

  /*
  프로젝트 볼륨에 따라 폰트를 여러개 사용할 수 있음 
  그럴 땐 따로 적어주기
  */
  font-family: "Roboto", sans-serif; /* 난 serif 없는게 좋음 */
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400; /* 400 == normal */

  color: var(--color-black);

  scroll-behavior: smooth;

  /* 웹앱을 네이티브 앱 처럼 보이기 위해서 */
  /* -webkit-user-select: none; */
  /* -webkit-touch-callout: none;  */
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */

  z-index: 1;
  overflow: hidden;
}

/* 아웃라인 없애 달라고 하면 그때 어쩔수 없이 */

/* *, */
*:focus,
select:focus,
input:focus,
textarea:focus,
button:focus,
a:focus {
  /* outline:none */
  outline: 1px dashed red;
}

button:disabled {
  cursor: default;
}
input:disabled,
input:disabled + label {
  cursor: default;
}

/* textarea{resize:none;} */

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: val(--color-gray);
}
/* Microsoft Edge */
::-ms-input-placeholder {
  color: val(--color-gray);
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  color: val(--color-gray);
  /* 잘 나오는데 왜 opacity, text-align 없이도 잘 나옴 왜 써야 하는지 모르겠음 */
  /* opacity: 1; */
  /* text-align: left !important; */
}

/* Internet Explorer 10-11 */
/* textarea:-ms-input-placeholder {
  font-size: inherit;
  color: $kb-ui07 !important;
} */
/* Microsoft Edge */
/* textarea::-ms-input-placeholder {
  font-size: inherit;
  color: $kb-ui07 !important;
}  */
/* Chrome, Firefox, Opera, Safari 10.1+ */
/* textarea::placeholder {
  font-size: inherit;
  color: $kb-ui07;
  opacity: 1;
}  */

/* input type=search x버튼 지우기 */
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input type=number up/down arrow 지우기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
