/* 토글 스위치 */
.form-switch {
  position: relative;
  display: inline-block;
  height: 44px;
}
.form-switch input[type="checkbox"],
.form-switch input[type="radio"] {
  position: absolute;
  /* opacity: 0; */
  width: 44px;
  height: 24px;
  left: 0;
  opacity: 0.3;
  /* color: transparent;
  font-size: 0;
  background-color: transparent;
  border-color: yellow; */
}
.form-switch label {
  position: relative;
  display: inline-block;
  min-width: 44px;
  min-height: 24px;
  padding-left: 44px;
  cursor: pointer;
  /* 
    input 사이즈 만큼 포커스 가도록 하면 opacity 사용시 기본 체크박스 보여짐. 
    so cover label 
    단 레이블 바닥 색이 변경 될 수 있음. 그땐opacity 사용하지 말 것
    */
  background-color: white;
  border-radius: 20px;
}
.form-switch label::before,
.form-switch label::after {
  content: "";
  position: absolute;
  transition: all 0.5s;
}
.form-switch label::before {
  left: 0;
  top: 50%;
  margin-top: calc(-24px / 2);
  width: 44px;
  height: 24px;
  border-radius: 20px;
  background-color: var(--color-lightGray);
}
.form-switch label::after {
  left: 0;
  top: 50%;
  margin-top: calc(-24px / 2);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--color-lightGray);
  background-color: var(--color-gray);
}
.form-switch input[type="checkbox"]:checked + label::before,
.form-switch input[type="radio"]:checked + label::before {
  filter: grayscale(0.3);
}
.form-switch input[type="checkbox"]:checked + label::after,
.form-switch input[type="radio"]:checked + label::after {
  left: 20px;
  border-color: var(--color-lightGray);
  background-color: var(--color-secondary);
}

.form-switch input[type="checkbox"]:disabled + label::before,
.form-switch input[type="radio"]:disabled + label::before {
  opacity: 0.5;
}

.form-switch input[type="checkbox"]:disabled + label::after,
.form-switch input[type="radio"]:disabled + label::after {
  opacity: 0.5;
}

/* form - checkbox */
.form-checkbox {
  display: inline-flex;
  position: relative;
  min-height: 24px;
}
.form-checkbox input[type="checkbox"] {
  position: absolute;
  /* 포커스 안 감. 웬만하면 쓰지마 */
  /* 0.1 로하면 아웃라인도 연해짐 */
  /* opacity: 0.1; */
  left: 4px;
  top: 4px;
}
.form-checkbox input[type="checkbox"] + label {
  display: inline-block;
  min-height: 24px;
  padding-left: 28px;
  padding-top: 2px;
}
.form-checkbox input[type="checkbox"] + label::before,
.form-checkbox input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: all 0.5s;
}
.form-checkbox input[type="checkbox"] + label::before {
  width: 24px;
  height: 24px;
  background-color: ivory;
  border: 2px solid gray;
}
.form-checkbox input[type="checkbox"] + label::after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.form-checkbox input[type="checkbox"]:checked + label::before {
  border-color: var(--color-secondary);
}
.form-checkbox input[type="checkbox"]:checked + label::after {
  color: var(--color-secondary);
}
.form-checkbox input[type="checkbox"]:disabled + label span {
  opacity: 0.5;
}
.form-checkbox input[type="checkbox"]:disabled + label::before,
.form-checkbox input[type="checkbox"]:disabled + label::after {
  filter: sepia(0.6);
}

/* form - radio */
.form-radio {
  display: inline-flex;
  position: relative;
  min-height: 24px;
}
.form-radio input[type="radio"] {
  position: absolute;
  /* 포커스 안 감. 웬만하면 쓰지마 */
  /* 0.1 로하면 아웃라인도 연해짐 */
  /* opacity: 0.1; */
  left: 4px;
  top: 4px;
}
.form-radio input[type="radio"] + label {
  display: inline-block;
  min-height: 24px;
  padding-left: 28px;
  padding-top: 2px;
}
.form-radio input[type="radio"] + label::before,
.form-radio input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: all 0.5s;
}
.form-radio input[type="radio"] + label::before {
  width: 24px;
  height: 24px;
  background-color: ivory;
  border: 2px solid gray;
}
.form-radio input[type="radio"] + label::after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.form-radio input[type="radio"]:checked + label::before {
  border-color: var(--color-secondary);
}
.form-radio input[type="radio"]:checked + label::after {
  color: var(--color-secondary);
}
.form-radio input[type="radio"]:disabled + label {
  opacity: 0.5;
}

/* input type text */
.form-input {
}
.form-input > label {
  display: block;
  margin-bottom: 4px;
}
.form-input-inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border: 2px solid #888;
  /* dash - 가 되는 거였구나~ */
  transition: border-color 0.5s ease-in;
}
.form-input-inner input {
  width: 100%;
  border: 0 none;
}
.form-input-inner input[type="text"] {
}
.form-input-inner input[type="text"] {
}
.form-input-inner .btn-clear {
}

.form-input .validation {
  display: block;
  margin-top: 8px;
}
.form-input[data-status="success"] .validation {
  color: blue;
}
.form-input[data-status="error"] .validation {
  color: red;
}

.form-input .btn-clear {
  /* opacity: 0; */
}

/* states */
.form-input.is-focused .form-input-inner {
  border-color: #333;
}
.form-input.is-focused .btn-clear {
  /* animation: 0.2s ease-in forwards showHide; */
}

@keyframes showHide {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
