<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading</title>
  <link rel="stylesheet" href="../assets/fontawesome/combined.css">
  <link rel="stylesheet" href="../assets/css/combined.css">
  <script src="./loading.js"></script>
</head>
<body>
  <div class="guide" id="guid">
    <div class="component">
      <div class="title">Loading</div>
      <div class="iframe-wrapper">
        <iframe src="./loading-image-rotate.html" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</body>
</html>